<h2 style="color:red;"><b>Please bookmark this page so that you can edit and delete your article</b></h2>

<%= form_for @article, url: {action: 'update'}, html: {class:"article_form"} do |f| %>
  <%=f.label :title%>
  <%=f.text_field  :title%>
  <%=f.label :description%>
  <%=f.text_area :description, size: "50x10"%>
  <%=f.collection_select :category_id, Category.order(:name),:id,:name%>
  <%=f.submit "Edit"%>
<%end %>

<p><%= link_to 'DELETE THIS ARTICLE', category_article_path, :method => :delete %></p>

