<h1>All Articles</h1>

<% @articles.each do |article| %>
  <p><%= link_to "#{article.title}", category_article_path(article.category,article) %></p>
<% end %>
<br>
<br>
<%= link_to 'ADD A NEW ARTICLE', new_category_article_path %>
