<%= form_for @article, url: {action: 'create'}, html: {class:"article_form"} do |f| %>
  <%=f.label :title %>
  <%=f.text_field  :title%>
  <%=f.label :description %>
  <%=f.text_area :description, size: "50x10" %>
  <%=f.collection_select :category_id, Category.order(:name),:id,:name %>
  <%=f.submit "Create" %>
<%end %>


