<h1><%= @category.name %></h1>

<% @category.articles.each do |article| %>
  <h3><%= link_to "#{article.title}", category_article_path(@category,article) %></h3>
<% end %>

<p><%= link_to 'CREATE NEW ARTICLE', new_category_article_path(@category) %></p>
